/* ## BREAK POINT VARIABLES, FOR USE WITH MEDIA QUERIES IN SCSS FILES ## */
$break-phone: 320px;
$break-small: 480px;
$break-phablet: 550px;
$break-tablet: 600px;
$break-medium: 768px;
$break-large: 960px;
$break-desktop: 1024px;
$break-widescreen: 1240px;
$break-huge: 1300px;
$break-massive: 1500px;