/* ## STYLES FOR COMMENT BOXES AND USER COMMENTS ON NODES ## */
.comment {
  padding:1em 0;
  margin-bottom:1em;
  border-bottom:1px dashed #BBB;
  float:left;
  width:100%;
  &:last-child {
    border-bottom:none;
  }
  .comment-meta {
    width:100%;
    position:relative;
    float:left;
    margin-bottom:1em;
    .comment-date {
      font-family: $sans-serif;
      float:left;
      @media (min-width: $break-medium) { 
        float:left;
      }       
    }
    .comment-user {
      float:left;
      margin-right:1em;
      margin-right:1em;
      position: relative;
      margin-top:-1em;      
    }
    @media (min-width: $break-medium) { 
      width:35%;
      float:left;
    } 
    @media (min-width: $break-large) { 
      width:28%;
      float:left;
    }     
  }
  .comment-body {
    width:100%;
    @media (min-width: $break-medium) { 
      width:60%;
      float:right;
    } 
    @media (min-width: $break-large) { 
      width:70%;
      float:right;
    }     
    p:last-child {
      margin-bottom:0px;
    }
  }
}
.comment-form {
  text-align:center;
  input[type="text"] {
    background-color: $iq-light-teal;
    color:$dark-grey;
    text-align: left;
  }
  textarea {
    background-color: $iq-light-teal;
    min-height:8em;
    width:100%;
    margin:0 auto 2em auto;
    color: $dark-grey;
    font-family: $serif;
    text-align: left;
    @media (min-width: $break-medium) {
      width:80%;
    }
  }
  .grippie {
    display:none;
  }
  label {
    font-family: $sans-serif;
    font-size:2.4rem;
    font-weight:300;
  }
  input[type="submit"] {
    @extend .button-primary;
    @extend .shadow;
    @extend .extra-button-padding;
  }
  .form-required {
    display:none;
  }
}
