/* ## MAIN MENU ## */
.mobile-menu-open {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 40px;
  text-align: center;
  height: 40px;
  overflow: hidden;
  font-size: 28px;
  line-height: 40px;
  box-sizing: border-box;
  padding-top: 2px;
  background-color:transparent;
  cursor: pointer;
  z-index:200;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  // @extend .shadow;
  color:$field-green;
  &:hover, &:active, &:focus {
    background-color: transparent;
    color:lighten($field-green,10%);
  }
  &.menu-active {
    position:fixed;
    top: 5px;
    left: 9px;
  }
  .menu-opened {
    color:$field-green;
  }
  @media (min-width: $break-desktop) {
    display:none;
  }
}

ul.menu ul.menu {
    display: none;
}

#block-system-main-menu {
  display:block;
  //position: absolute;
  z-index: 101;
  background-color: $background-grey;
  left: 0;
  right: 0;
  top: 0;  
  box-shadow: $shadow;
  padding:2em 1em 1em;
  box-sizing: border-box;
  -moz-transform: translate3d(-300px,0,0);
  -ms-transform: translate3d(-300px,0,0);
  -webkit-transform: translate3d(-300px,0,0);
  transform: translate3d(-300px,0,0);
  -ms-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  width:300px;
  position: fixed;
  height:100%;
  &.opened {
    -moz-transform: translate3d(0,0px,0);
    -ms-transform: translate3d(0,0px,0);
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);    
    -ms-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    position: fixed;
    height:100%;
    overflow:scroll;
  }
  @media (min-width: $break-desktop) {
    display:block!important;
    position: static;
    top:auto;
    left:auto;
    right:auto;
    background-color: transparent;
    box-shadow: none;
    padding:0;
    -moz-transform: translate3d(0,0px,0);
    -ms-transform: translate3d(0,0px,0);
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);    
    width:auto;
    &.opened {
      position:static;
      overflow: visible;
    }
  }   
  @extend .iq-sans-serif;
  ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    // margin-left:10px;
    @media (min-width: $break-desktop) {
      margin-left:2em;
    }
    li {
      list-style: none!important;
      padding: 0;
      margin: .75em 0em;
      display: block; 
      width: 100%;
      text-align: center;
      /*transition: margin 0.4s ease;*/
      @media (min-width: $break-desktop) {
        margin: 0em 0em;
        display: inline-block;
        width: auto;
        &.first {
          display: none;
        }
      }
      @media (min-width: $break-huge) {
        margin: 0em .5em;
      }                  
      a {
        display: block;
        // text-transform: uppercase;
        color: $field-green;
        text-decoration: none;
        padding: .5em .5em;
        font-size:1em;
        /*transition: font-size 0.4s ease;*/
        @media (min-width: $break-desktop) {
          font-size:.875em;
          color: $field-green;
        }
        @media (min-width: $break-widescreen) {
          font-size:1em;
        }           
        &:hover, &:focus, &:active {
          background:transparent;
          text-decoration: underline;
          @media (min-width: $break-desktop) {
            // background:$iq-teal;
            text-decoration: none;
          }               
        }
        &.active {
          // border-bottom:1px solid #FFF;  
          background:none;
        }
      }
    }
  }
}

.utility-links {
  font-size: 12px;
  @media (min-width: $break-widescreen) {
    font-size:13px;
  }
  position: absolute;
  right: 60px;
  top: 50%;
  margin-top: -6px;
  display:none;
  @media (min-width: $break-medium) {
    display: block;
  }
  @media (min-width: $break-desktop) {
    margin-top: -10px;
    right: 3em;
  }
  @media (min-width: $break-widescreen) {
    margin-top: -10px;
  }
  ul {
    margin:0;
    li {
      margin:0;
      padding:0;
      display:inline-block;
      a {
        color:$field-green;
        text-decoration: none;
        display: block;
        margin: 0 0em 0 .5em;       
        @media (min-width: $break-widescreen) {
          margin: 0 0em 0 1em;       
        } 
      }
    }
  }
}