/* STYLES FOR CHILDRENS ROOM SECTION */
.svg-social-icons svg {
  margin-right:.5em;
  vertical-align: middle;
}

/*social media icons*/
.facebook-icon {
  color:$facebook;
  fill:$facebook;
  margin-right:.25em;
}
.twitter-icon {
  color:$twitter;
  fill:$twitter;
  margin-right:.25em;
}
.tumblr-icon {
  color:$tumblr;
  fill:$tumblr;
  margin-right:.25em;
}
.google-icon {
  color:$google;
  fill:$google;
  margin-right:.25em;
}